.section{
    display:flex;
    min-height: calc(100vh - 74px);
    /* max-width:100%; */
    min-width:100%;
}
.hero_section{
    background-color: var(--primary-color);
    display:flex;
    /* width:32vw; we can */
    flex-direction: column;
    position: relative;
    margin-top:0;
    flex:0.6929;
    overflow: visible;
}
.aside{
    display:flex;
    flex-direction:column;
    flex:1;
    position: relative;
    gap:100px;
}
.aside_info_second{
    font-size:16px !important;
    margin-top:10px;
    line-height:35px;
}
.hero_section_image{
    width:126%;
    object-fit:contain; 
    height:115%;
    transform: matrix(1,0.01,0.05,1.12,0,0)!important;
}
.hero_section_characters{
    color: white; 
    position:absolute;
    font-size:100px;
    bottom:0px;
    left:12px;
    padding:5px;
    line-height:120px;
    font-family:var(--playfair-display);
}
.order_now_button{
    color:white !important;
    background-color: black;
    /* padding:25px 60px !important; */
    min-width:100px !important; 
    font-size:18px !important;
    font-family:var(--plus-jakarta-sans);
    border-radius:36px;
    font-weight:500 !important;
    cursor: pointer;
    line-height:23px;
    margin:0px 30px; 
    display:flex;
    justify-content:center;
    align-items: center;
    width:180px;
    height:68px;
}
.aside_buttonarea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
    max-width:max-content;
    flex-wrap:wrap;
    /* wrap is use when there is no space then it wrap one after another */
}
.aside_info{
    display:flex; 
    flex-direction: column;
    padding:90px 80px;
}
.aside_info_first{
    max-width:92%;
}
.aside_info div{
    /* parent to child selector */
    
}
.aside_buttonhowto{
    font-size:17px !important;
    font-family:var(--plus-jakarta-sans) !important;
    font-weight:400 !important;
    max-width:none; 
    padding:none; 
}
.aside_buttonhowsection{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
    max-width:none !important;
    padding:none !important;
}
.aside_testimonialarea{
    display: flex;
    background-color: #fff;
    padding:30px;
    gap:20px;
    flex-wrap: wrap;
    min-width:100%;
    flex:2;
    /* position: relative; */
    z-index:-1;
    position: absolute;
    bottom:0;
    left:0;
}   
.aside_left_testimonial{
    flex:1;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.aside_left_testimonial_happyCusto{
    font-family: var(--plus-jakarta-sans);
    font-size:20px;
    flex:1;
    color:rgb(80, 80, 80);
    font-weight:400;
}
.aside_right_testimonial{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex:1;
    border-left:1px solid rgb(189, 188, 188);
    padding-left:30px;
}
.aside_right_testimonial img{
    width:40px; 
}
.aside_right_testimonial p{
    max-width:240px;
    font-size:12px;
    font-family: var(--plus-jakarta-sans);
    line-height: 30px;
    padding:10px 17px;
    color:rgb(80, 80, 80);
    cursor: pointer;
}
.aside_left_testimonial_noofcustomer{
    font-family:var(--playfair-display);
    font-size:50px;
    font-weight: 400;
}
/* flex wrap not show effect when flex grow is given  */